.main{
  color: blueviolet;
  height: 100px;
  width: 800px;
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-align: center;

}
.content{
  text-align: center;
  color: blue;
}
.footer{
  color: darkgrey;
  background-color: cornsilk;
}